<div class="navbar bg-base-100 shadow-sm flex justify-between">
  <a class="btn btn-ghost text-xl">daisyUI</a>
  <div class="avatar">
    <div class="ring-primary ring-offset-base-100 w-12 rounded-full ring ring-offset-2">
        <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
    </div>
  </div>
  <%= link_to "Profile", user_path%>
</div>

